<form class="newUser formBox">
	<h3>Sign Up!</h3>
	<label for="user_username">Username:</label>
	<input type="text"
		name="user[username]" 
		id="user_username"
		required = "required" 
		autofocus = "autofocus">
	<br>
	<label for="user_email">Email:</label>
	<input type="text" 
		name="user[email]" 
		pattern= "^.+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
		required = "required"
		id="user_email">
	<br>
	<label for="user_password">Password:</label>
	<input type="password" 
	name="user[password]" 
	required = "required"
	id="user_password">
	<br>
	<input type="submit" value="Sign Up!">
	<br>
	<br>
	<p>Here before? <a id="swapForm" href="/#/">Sign in!</a></p>
</form>
