<ul>
	<% reviews.each(function(review){ %>
		<li>
			<p><%= review.escape("body") %></p>
			<h5><%= review.escape("author_name") %> wrote this at <%= review.escape("updated_at") %></h5>
		</li>
	<% }) %>
</ul>