<form class="newReview">
	<label>Rate:</label>
	<span class="rating">
		<% for(var i = 5; i > 0; i--) { %>
			<%= "<input type='radio' name='stars' value= " + i + ">" %>
		<% } %>
	</span>
	<br>
	<label for="review_body">Review:</label>
	<textarea 
		id="review_body" 
		name="review[body]"
		autofocus = "autofocus"
		placeholder="Tell us how you really feel."
	></textarea>

	<input type="submit" value="Submit">
</form>