<form class="newReview showBox">
	<label>Rate:</label>
	<span class="rating">
		<% for(var i = 5; i > 0; i--) { %>
      <% var check = (parseInt(review.get('stars')) === i ? " checked='checked'" : null); %>
			<%= "<input type='radio' name='stars' value= " + i + check + ">" %>
		<% } %>
	</span>
	<br>
	<label for="review_body">Review:</label>
	<textarea 
		id="review_body" 
		name="review[body]"
    required
		autofocus
		placeholder="Tell us how you really feel."
	><%= review.escape('body') %></textarea>

	<input type="submit" value="Submit">
</form>
<a href='/#/businesses/<%= review.collection.businessId %>'>Cancel Review</a>