<form class="newReview">
	<label for="review_body">Review:</label>
	<textarea 
		id="review_body" 
		name="review[body]"
		placeholder="Tell us how you really feel."
	></textarea>
	<input type="submit" value="Submit">
</form>