<a href="#">
	<img src="assets/logo2.png" style="float: left">
</a>
<form class="search">
	<label for="business_tags">Find</label>
	<input type="text" name="business[tags]" id="business_tags">
	<label for="business_loc">Near</label>
	<input type="text" name="business[loc]" id="business_loc">
</form>