<% var sample = _.shuffle(VivaVoce.Store.categories).slice(0,3) %>
<a href="#">
	<img src="assets/logo2.png" style="float: left">
</a>
<form class="search ui-widget">
	<label for="business_name">Find</label>
	<input type="text" 
		name="business[name]" 
		id="business_name" 
		placeholder="Business name">
	<label for="business_loc">Near</label>
	<input type="text" 
		name="business[loc]" 
		id="business_loc"
		placeholder="address or part of an address">
	<input type="submit" value="Search">
</form>