<form class="newSession formBox">
		<h3>Sign in!</h3>
	<label for="user_email">Email:</label>
	<input type="text" name="user[email]" id="user_email">
	<br>
	<label for="user_password">Password:</label>
	<input type="password" name="user[password]" id="user_password">
	<br>
	<input type="submit" value="Log in!">
	<br>
	<br>
	<p>New here? <a id="swapForm" href="/#/">Sign Up!</a></p>
</form>