.header {
  width: 99%;
  border-width: 4px;
  border-color: #1630c7;
  border-style: solid;
  padding: 3px;
  float: center;
	display: inline-block;
	text-align: center;
	background-color: white;
  border-radius: 10px;
}

.sessionButton {
	text-align: right;
}

a:link {
  text-decoration:none;
  color: #1630c7;
}

a:visited {
  text-decoration:none;
  color: #1630c7;
}

a:hover {
  text-decoration: none;
  color: #3d50d1;
}