.voteBox {
	display: block;
	float: left;
	width: 30px;
}
.reviewListing > li {
	display: block;
}
.photoBox {
  display: inline-block;
}
.mapSpace {
  float: right;
  width: 600px;
  height: 600px;
}
.smallMap {
  float: right;
  width: 200px;
  height: 200px;
}
.tabular {
  clear: both;
}