body {
  margin: none;
  padding: 3px;
}
.voteBox {
	display: block;
	float: left;
	width: 30px;
}
.reviewListing > li {
	display: block;
  margin: 5px;
  border-color: #1630c7;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  padding: 3px;
}
.photoBox {
  display: inline-block;
}
.mapSpace {
  float: right;
  width: 600px;
  height: 600px;
}
.smallMap {
  float: right;
  width: 200px;
  height: 200px;
}
.tabular {
  clear: both;
}
.progress {
  height: 20px;
  width: 100px;
}
.progress:before {
  content: url(starholes.png);
  position: absolute;
}