<!DOCTYPE html>
<html>
<head>
  <title>VivaVoce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<img src="assets/logo.png">
</div>
<%= yield %>

</body>
</html>
